<a href="https://colab.research.google.com/github/vladiant/SoftUniMachineLearning2019/blob/master/2_Linear_And_Logistic_Regression/LinearLogisticRegresion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

In [ ]:
# housing_data = pd.read_fwf("housing.data")

# from sklearn import datasets
# housing_data = datasets.load_boston()

housing_data = pd.read_fwf("https://archive.ics.uci.edu/ml/machine-learning-databases/housing/housing.data", header=None)

In [ ]:
housing_data.columns =["crime_rate", "zoned_land", "industry", "bounds_river", "nox_conc", "rooms", "age", "distance", "highways", "tax", "pt_ratio", "b_estimator", "pop_stat", "price"]

In [ ]:
housing_data.head()

   crime_rate  zoned_land  industry  ...  b_estimator  pop_stat  price
0     0.00632        18.0      2.31  ...       396.90      4.98   24.0
1     0.02731         0.0      7.07  ...       396.90      9.14   21.6
2     0.02729         0.0      7.07  ...       392.83      4.03   34.7
3     0.03237         0.0      2.18  ...       394.63      2.94   33.4
4     0.06905         0.0      2.18  ...       396.90      5.33   36.2

[5 rows x 14 columns]

In [ ]:
housing_data_input = housing_data.drop('price', axis=1)
housing_data_input.head()

   crime_rate  zoned_land  industry  ...  pt_ratio  b_estimator  pop_stat
0     0.00632        18.0      2.31  ...      15.3       396.90      4.98
1     0.02731         0.0      7.07  ...      17.8       396.90      9.14
2     0.02729         0.0      7.07  ...      17.8       392.83      4.03
3     0.03237         0.0      2.18  ...      18.7       394.63      2.94
4     0.06905         0.0      2.18  ...      18.7       396.90      5.33

[5 rows x 13 columns]

In [ ]:
housing_data_output = housing_data.price
housing_data_output.head()

0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
Name: price, dtype: float64

In [ ]:
model = LinearRegression()

In [ ]:
model.fit(housing_data_input, housing_data_output)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
# model.predict(housing_data_input)
model.score(housing_data_input, housing_data_output)

0.7198065414937174

In [ ]:
model.coef_

array([ 2.09281375e-01,  1.49403979e-02,  1.27164577e-02,  3.00565375e+00,
       -1.55234852e+01,  4.29955958e+00,  2.84848139e-03, -1.08366345e+00,
        1.93258621e-01, -2.42034372e-03, -9.65535221e-01,  9.43510233e-03,
       -5.25242783e-01])

In [ ]:
model.intercept_

28.30511075009866

In [ ]:
predicted_values = model.predict(housing_data_input[:10])

In [ ]:
actual_values = housing_data_output[:10]

In [ ]:
np.sqrt((predicted_values - actual_values)**2)

0    6.109473
1    3.528110
2    3.692144
3    4.354644
4    7.716318
5    3.257689
6    0.330255
7    7.026005
8    4.628627
9    0.713274
Name: price, dtype: float64